/* rem Background image */
body {
    background: rgb(var(--color-background)) url("https://files.catbox.moe/a3znk0.jpg") center/100% fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}


/* Transparent banner - used together with background image */
.banner {
    background-image: none !important;
    background-color: rgb(36, 37, 56, 0) !important;
    height: auto !important;
}
.banner .shadow{
    background: none !important;
}

/* favourites section */
.favourite {
    transition: transform 5s linear;
    border-radius: 10px !important;
    position: static;
}

/*  favourites section wrapping */
.favourites-wrap.anime,
.favourites-wrap.manga,
.favourites-wrap.characters,
.favourites-wrap.staff,
.favourites-wrap.studios {
    overflow: visible;
}

/* About section scrollbar */
.user .about > div.content-wrap:hover {
    scrollbar-width: thin;
}

/* Profile activity (status/messages/list) Makes border corners rounded. Also required as bugfix for .avatar hover! */
.wrap,
.reply {
    border-radius: 20px !important;
    overflow: visible !important;
}
/* Anime/manga displaying rounded corners, part 2 */
.cover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.list-stats {
    border-radius: 20px !important;
}

/* Horizontal rule border settings */
.markdown hr {
    border: solid 1px rgb(255, 111, 0);
    border-radius: 1px;
}

/* Blockquotes*/
.markdown blockquote {
    margin-right: auto;
}

/* Site background color transparency */
.site-theme-dark {
    --color-foreground: 16, 24, 35, .90;
}

/*Hides hoh download button*/
.hohDownload {
    display: none;
}

/* Changes scrollbar for whole page (Firefox) */
html {
    scrollbar-width: thin;
}

/* Chrome scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background: #01232d;
}

::-webkit-scrollbar-corner {
    background: #01232d;
}
::-webkit-scrollbar-thumb {
    background: #ff6f00;
    -webkit-border-radius: 1ex;
}

/* Modifies load-more button */
.load-more {
    border-radius: 30px !important;
    font-family: 'Brush Script MT', cursive !important;
    font-size: 3rem !important;
    margin: auto !important;
    max-width: 200px !important;
}

/* Changes "Overview/Anime List/Manga List..." nav section. - shorter navbar*/
.nav-wrap {
    background: rgb(var(--color-foreground)) !important;
    width: 65% !important;
    margin: 0 auto !important;
    border-radius: 30px !important;
}

img.avatar,
h1.name {
    margin: auto;
}

/* Re-aligns profile picture and name. */
.banner-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width: auto !important;
    background-color: rgb(var(--color-foreground));
    padding: 10px;
    border-radius: 30px !important;
    margin: auto;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 10px
}

/* Main avatar. */
.avatar {
    border-radius: 100%;
    transition: transform 2s;
}

/* avatar */
a[class="avatar"],
a[class="avatar router-link-exact-active router-link-active"] {
    transition: transform 1s !important;
}
/* avatar hover */
a[class="avatar"]:hover,
a[class="avatar router-link-exact-active router-link-active"]:hover {
    transform: scale(5) !important;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* Adds a fixed rem image to the bottom-left corner of the screen */
#nav::after {
    content: url(https://cdn.discordapp.com/attachments/787300585778708480/918858500224987169/pngwing.com-3_copy.png);
    object-position: top right;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Mobile (small screen size) only: */
@media (max-width: 760px) {

    /* Username positioning - mobile*/
    .name-wrapper {
        position: relative;
        bottom: 5px;
    }
}


/** PC (standard screen size) only: */
@media (min-width: 761px) {
    /*Donator badge*/
    .nav-btn {
        position: relative;
        bottom: 0px;
        top: -43px;
        right: 20px;
    }


    /* Username positioning */
    .name-wrapper {
        position: relative;
        bottom: 40px;
    }
}


/* Makes box invisible for profile pic and username. */
.banner-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0);
    background-color: rgba(16, 24, 35, 0.0);
}
/* this is for favourites, won't do anything if these characters are not in you favs */
.favourites .character[href='/character/88575/Rem'] {
    background-image: url('https://files.catbox.moe/vc9l3s.jpg') !important;
  }
.favourites .character[href='/character/88575/Rem']:hover {
    background-image: url('https://cdn.discordapp.com/attachments/787300585778708480/919384257493893221/6cjnbf.gif') !important;
}
.favourites .character[href='/character/127222/Mai-Sakurajima']:hover {
    background-image: url("https://cdn.discordapp.com/attachments/787300585778708480/919383671276986399/3r2yql.gif") !important;
}
.favourites .character[href='/character/124381/Zero-Two']:hover {
    background-image: url("https://cdn.discordapp.com/attachments/787300585778708480/919384071765905478/6ps3p3.gif") !important; 
}
.favourites .character[href='/character/88572/Emilia']:hover {
    background-image: url("https://c.tenor.com/jK8Ap_2PLZYAAAAC/emilia-anime.gif") !important;
}
.favourites .character[href='/character/65239/Esdeath']:hover {
    background-image: url("https://animesher.com/orig/0/88/885/8851/animesher.com_akame-ga-kill-esdeath-gif-885105.gif") !important;
}
.favourites .character[href='/character/65239/Esdeath'] {
    background-image: url("https://i.ytimg.com/vi/l31KdwxNlRs/maxresdefault.jpg") !important;
}
.favourites .character[href="/character/2072/Ace-Portgas"]:hover {
    background-image: url("https://cdn.discordapp.com/attachments/787300585778708480/921363156037689394/d043127754c5dec8920289c15f088647.gif") !important;
}
.favourites .character[href="/character/89122/Albedo"]:hover {
    background-image: url("https://cdn.discordapp.com/attachments/787300585778708480/921364451804983346/albedo-overlord.gif") !important;
}
.favourites .character[href="/character/125619/Himiko-Toga"]:hover {
    background-image: url("https://cdn.discordapp.com/attachments/787300585778708480/921365568072843284/boku-no-hero-my-hero-academia.gif") !important;
}
/* activity history box */
div.activity-history {
    box-shadow: none !important;
    background-image: url(https://cdn.discordapp.com/attachments/787300585778708480/922738307526438933/meraki-animation-rem-gif.gif) !important;
    background-position:top 100px;
}
/* rem logo on top */
a.logo {
    background-image: url(https://cdn.discordapp.com/attachments/787300585778708480/923471168579719178/sticker2.webp) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

a.logo img {
    opacity: 0%;
}
/* a bug fix */
a.favourite.media:nth-child(n+26):not(:nth-child(n+32)) {
    display: none !important;
}
